<h1>EAT DA BURGERS</h1>

<div class="container">

    <div class="row">
        <div class="col-md-6">

        <h2>Burgers I Want to Eat</h2>

        <ul>
            {{#each burgers}}
            {{#unless eaten}}
            {{> burgers/burger-block eaten=false}}
            {{/unless}}
            {{/each}}
        </ul>

        <h2>Burgers That Have Already Been Eaten:</h2>

        <ul>
            {{#each burgers}}
            {{#if eaten}}
            {{> burgers/burger-block eaten=true}}
            {{/if}}
            {{/each}}
        </ul>

    <h2>Add a Burger</h2>
    <form class="create-form">

        <div class="form-group">
            <label for="ca">Burger Name:</label>
            <input type="text" id="ca" name="name">
        </div>

        <button type="submit">Add</button>
    </form>

    </div>

        <div class="col-md-6">
        <img src="assets/img/burger.jpg" alt="burger image" width="375" height="450">
        </div>  
    </div>

</div>

